<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/ico" href="~/img/favicon.png" />
    <!-- Bootstrap -->
    <link href="~/assets/minimal/css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/minimal/css/vendor/animate/animate.min.css">
    <link type="text/css" rel="stylesheet" media="all" href="~/assets/minimal/js/vendor/mmenu/css/jquery.mmenu.all.css" />
    <link rel="stylesheet" href="~/assets/minimal/js/vendor/videobackground/css/jquery.videobackground.css">
    <link rel="stylesheet" href="~/assets/minimal/css/vendor/bootstrap-checkbox.css">

    <link rel="stylesheet" href="~/assets/minimal/js/vendor/rickshaw/css/rickshaw.min.css">
    <link rel="stylesheet" href="~/assets/minimal/js/vendor/morris/css/morris.css">
    <link rel="stylesheet" href="~/assets/minimal/js/vendor/tabdrop/css/tabdrop.css">
    <link rel="stylesheet" href="~/assets/minimal/js/vendor/summernote/css/summernote.css">
    <link rel="stylesheet" href="~/assets/minimal/js/vendor/summernote/css/summernote-bs3.css">
    <link rel="stylesheet" href="~/assets/minimal/js/vendor/chosen/css/chosen.min.css">
    <link rel="stylesheet" href="~/assets/minimal/js/vendor/chosen/css/chosen-bootstrap.css">

    <link href="~/assets/minimal/css/minimal.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/ui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="~/assets/ui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">

</head>
<body class="bg-2">
    <!-- Preloader -->
    <!--<div class="mask"><div id="loader"></div></div>-->
    <!--/Preloader -->
    <!-- Wrap all page content here -->
    <div id="wrap">
        <!-- Make page fluid -->
        <div class="row">
            <!-- Fixed navbar -->
            <div class="navbar navbar-default navbar-fixed-top navbar-transparent-black mm-fixed-top" role="navigation" id="navbar">
                <!-- Branding -->
                <div class="navbar-header col-md-2">
                    <a class="navbar-brand" href="#">
                        <strong>某某</strong>系统
                    </a>
                </div>
                <!-- Branding end -->
                <!-- .nav-collapse -->
                <div class="navbar-collapse">
                    <!-- Page refresh -->
                    <ul class="nav navbar-nav refresh">
                        <li class="divided">
                            <a href="#" class="page-refresh"><i class="fa fa-refresh"></i></a>
                        </li>
                    </ul>
                    <!-- /Page refresh -->
                    <!-- Quick Actions -->
                    <ul class="nav navbar-nav quick-actions">
                        @* 我的任务 *@
                        @Html.Action("MyTasks", "Account")
                        @* 我的消息 *@
                        @Html.Action("MyMessages", "Account")
                        @* 我的提醒  *@
                        @Html.Action("MyNotifications", "Account")
                        @* 我的一般设置 *@
                        @Html.Action("MyNormalSet", "Account")

                        <li>
                            <a href="#mmenu"><i class="fa fa-comments"></i></a>
                        </li>
                    </ul>
                    <!-- /Quick Actions -->
                </div>
                <!--/.nav-collapse -->
            </div>
            <div class="easyui-layout" fit="true">
                <div data-options="region:'west',split:true" title="模块列表" style="width:260px;">
                    @Html.Action("MyModules", "Account")
                </div>
                <div data-options="region:'center',iconCls:'icon-ok'">
                    <div id="MainTabs" class="easyui-tabs" fit="true">
                        <div title="我的桌面" style="padding:10px">
                            @RenderBody()
                        </div>
                        <div title="Help" data-options="iconCls:'icon-help',closable:true" style="padding:10px">
                            This is the help content.
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/assets/minimal/js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/assets/minimal/js/vendor/bootstrap/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="~/assets/ui/jquery.min.js"></script>-->
    <!--加载easyui-->
    <script type="text/javascript" src="~/assets/ui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/assets/minimal/js/vendor/mmenu/js/jquery.mmenu.min.js"></script>
    <script type="text/javascript" src="~/assets/minimal/js/vendor/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="~/assets/minimal/js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="~/assets/minimal/js/vendor/animate-numbers/jquery.animateNumbers.js"></script>
    <script type="text/javascript" src="~/assets/minimal/js/vendor/videobackground/jquery.videobackground.js"></script>
    <script type="text/javascript" src="~/assets/minimal/js/vendor/blockui/jquery.blockUI.js"></script>

    <script src="~/assets/minimal/js/vendor/flot/jquery.flot.min.js"></script>
    <script src="~/assets/minimal/js/vendor/flot/jquery.flot.time.min.js"></script>
    <script src="~/assets/minimal/js/vendor/flot/jquery.flot.selection.min.js"></script>
    <script src="~/assets/minimal/js/vendor/flot/jquery.flot.animator.min.js"></script>
    <script src="~/assets/minimal/js/vendor/flot/jquery.flot.orderBars.js"></script>
    <script src="~/assets/minimal/js/vendor/easypiechart/jquery.easypiechart.min.js"></script>

    <script src="~/assets/minimal/js/vendor/rickshaw/raphael-min.js"></script>
    <script src="~/assets/minimal/js/vendor/rickshaw/d3.v2.js"></script>
    <script src="~/assets/minimal/js/vendor/rickshaw/rickshaw.min.js"></script>

    <script src="~/assets/minimal/js/vendor/morris/morris.min.js"></script>

    <script src="~/assets/minimal/js/vendor/tabdrop/bootstrap-tabdrop.min.js"></script>

    <script src="~/assets/minimal/js/vendor/summernote/summernote.min.js"></script>

    <script src="~/assets/minimal/js/vendor/chosen/chosen.jquery.min.js"></script>

    <script src="~/assets/minimal/js/minimal.min.js"></script>
    <script type="text/javascript">
        function AddPage(modulname) {
            var findPage = $('#MainTabs').tabs('getTab', modulname);
            if (findPage == null) {
                $('#MainTabs').tabs('add', {
                    title: modulname,
                    content: '<div style="padding:10px">Content' + modulname + '</div>',
                    closable: true
                });
            }
            else {
                $('#MainTabs').tabs('select', modulname);
            }
            
        }
    </script>
</body>
</html>
